



body {
	background-color:#FBEEDE;	
}



a { /* les liens c'est pas beau sans css */
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

.titre {
  text-decoration: none;
  text-align: center; /* allignement */
  font-size: 15px; /* taille */
  font-weight: 600; /* largeur */
  text-transform: uppercase; /* met le texte en majuscule */
  display:inline-block;   /* permet d'avoir 2titre sur une ligne */
  margin: 40px 8px 10px 8px; /* les marge */
  color: #cccccc; /* la couleur */
}



.cadre {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {

  border-radius: 10px; /*arrondi les angles */
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);/* decalage x de l'ombre, decalage y de l'ombre , rayon de floue de l'ombre , rayon d'etalement , couleur */
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1; /* bordure du haut */
  padding: 25px;
  text-align: center;
  
  border-radius: 0 0 10px 10px; /* le mdp oublié arondissement angle haut gauche / haut droite / bas gauche / bas droit */
}




a.inactive {
  color: #cccccc;
}

a.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}
a.active:hover {
	text-decoration:none;
}

a.inactive:hover {
	text-decoration:none;
	border-bottom: 2px solid #5fbae9;
	
}

.centrer {
  padding: 15px;
  text-align: center;
  display: inline-block;
  margin: 5px;
}

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;

  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);

  border-radius: 5px;
  margin: 5px 20px 40px 20px;

}



input[type=text],input[type=password],input[type=email],input[type=tel],input[type=tel] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;

  border-radius: 5px ;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}


input[type=date] {
  text-decoration: none;
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;

  border-radius: 5px ;
}


input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=tel]:focus,input[type=tel]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}

.formulaireERR {
	border-color: #ff0006!important;
}

.txtERR {
	color: #ff0006;
}






