@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');

#logo{
 height:60px;	
}
body{
	background-color:#FBEEDE;
	font-family: 'PT Sans Caption', sans-serif;
}

.couleurLiens{
	color:#EED2A9;
}
.barreNavig {
	background-color:#FEF7ED;/* couleur de fond de la barre de navigation */
	color :red; 
}

.cadre {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	
}

.marge70{
	padding:70px;
}

.illustration {
	width: 100%;
}

.baliseA { /* les liens c'est pas beau sans css */
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

.titre {
  text-decoration: none;
  text-align: center; /* allignement */
  font-size: 15px; /* taille */
  font-weight: 600; /* largeur */
  text-transform: uppercase; /* met le texte en majuscule */
  display:inline-block;   /* permet d'avoir 2titre sur une ligne */
  margin: 40px 8px 10px 8px; /* les marge */
  color: #cccccc; /* la couleur */
}

.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-top:25px;
}

.polatxt {
  text-align: center;
  padding: 10px 20px;
}

.image {
  background-size: cover;
  width: 100%;
  height: 200px;
}

.image img {
  display: none;
}
footer{
  
  font-family: 'PT Sans Caption', sans-serif;	
  background-color: #FEF7ED;
  bottom: 500; left: 0; right: 0;
  position:absolute;
}
.margin{
	padding:70px;
}
.btnpadding{
	margin:10px;
}

.cadre2{	
	margin: 10px 50px 20px;
	border-style:solid ; 		/* Bordure double */
	border-width:2px;			/* Epaisseur bordure */
	border-color:#585976;		/* Couleur de la bordure */
	border-radius: 5px;			/* Arrondissement des angles */
	
}

.decalageGauche{
	margin:70px;
}

.imageGrande{
	height:400px;
}

.cadre_image {
	max-width: 30%;
}	
	
.description {
	padding: 5px 5px 5px 5px;
	font-size: 1.2em;
}
.cadre3{	
	margin: 10px 50px 20px;
	padding: 5px 20px 5px 20px;
	text-align: center;
	border-style:solid ; 		/* Bordure double */
	border-width:2px;			/* Epaisseur bordure */
	border-color:#585976;		/* Couleur de la bordure */
	border-radius: 5px;			/* Arrondissement des angles */
	
}


.a1 { /* les liens c'est pas beau sans css */
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}


.a1.inactive {
  color: #cccccc;
}

.a1.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}
.a1.active:hover {
	text-decoration:none;
}

.a1.inactive:hover {
	text-decoration:none;
	border-bottom: 2px solid #5fbae9;
	
}

.dropzoneImage {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


.indicateurs {
	 text-align:center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Boutons précédent et suivant */
.precedent, .suivant {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* possitionne le bouton suivant à droite */
.suivant {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* effet lors du passage de la souris */
.precedent:hover, .suivant:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Indicateurs points */
.point {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.actif, .point:hover {
  background-color: #717171;
}

/* animation de transition */
.transition {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

.PositionRelativeDropZone{
	
	position: relative; 
	top: 200px; 
	
	
	
}

